@import "./utils/variables";
@import "./layout/header";
@import "./layout/footer";
@import "./components/buttons";
@import "./components/heart";
@import "./layout/mediaquerries";
@import "./base/polices";

section{
    min-height:1100px;
    background-color:rgb(247, 245, 245);
}
.image_restaurant img{
    object-fit: cover;
    height:250px;
    width:100vw;
}
.contenu_carte{
    min-height: 1000px;
    width:100vw;
    background-color:rgb(247, 245, 245);
    border-radius: 40px 40px 0 0;
    position:relative;
    margin-top: -60px;
    //comble l'écart quand la taille du menu grandit
    padding-bottom:20px;
}
.titre_restaurant{
    // background-color: red;
    padding-top: 20px;
    font-size: 18px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    min-width:250px;
    max-width:400px;
    margin: 0 auto;
    & i{
        font-size: 22px;
    }
}
article{
    //border: 1px solid red;
    //margin: 40px 10px;
    min-width:250px;
    max-width: 350px;
    margin: 0 auto;
    animation: appear 2s forwards;
    opacity:0;
}
//effet d'apparition du menu
article:nth-child(0){
    animation-delay:0s;
}
article:nth-child(1){
    animation-delay:0.5s;
}
article:nth-child(2){
animation-delay:1s;
}
article:nth-child(3){
    animation-delay:1.5s;
}
@keyframes appear {
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }

.menu{
    //background-color: blue;
    background-color: #fff;
    height:60px;
    min-width:250px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap:5px;
    box-shadow: 5px 1px 20px 1px rgba(0,0,0,0.2);
    margin: 10px auto;
    border-radius: 15px;
    
    &:hover {
		.menu_animation {
			width: 100%;
			opacity: 1;
			transition: all 0.8s ease-in-out;
		}
        & i{
            animation:turn 0.8s forwards;
        }  
	}
    &_content{
        //background-color: yellow;
        background-color: #fff;
        width:100%;
        min-width: 75%;
        display:flex;
        align-items: flex-end;
        justify-content: space-between;
        line-height: 20px;
        padding-left:10px;
        &_name {
            display: flex;
            flex-direction: column;
            gap: 5px; 
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
            & h4,p{
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis; 
            }     
        }  
    } 
    &_animation {
		width: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color:$color-tertiary;
		opacity: 0;
		transition: all 0.3s ease-in-out;
        & i{
            color:#fff;   
        }
	}   
}
#price{
    margin-right:20px;
}

@keyframes turn {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

//responsive
@include tablet($_tablet_min-width);
@include mobile($_mobile_min-width,$_mobile_max-width);
@include desktop($_desktop_min-width);




