header {
  height: 100px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  text-decoration: none;
  color: #000;
  margin-left: 40px;
  font-size: 25px;
}

footer {
  background-color: #333;
  padding: 20px;
}
footer ul {
  list-style-type: none;
  color: #fff;
  line-height: 25px;
  padding-left: 0;
}
footer img {
  height: 15px;
}
footer i {
  color: #fff;
  margin-right: 10px;
  width: 15px;
}
footer a {
  text-decoration: none;
  color: #fff;
}

button {
  display: block;
  margin: 20px auto;
  border-radius: 999px;
  padding: 15px 45px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.heart_container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 50px;
  font-size: 25px;
}
.heart_container .fas {
  opacity: 0;
}
.heart_container .fas:hover {
  -webkit-animation: heartcolor 0.3s forwards;
          animation: heartcolor 0.3s forwards;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes heartcolor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes heartcolor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
  margin-left: 30px;
}

.titre_restaurant h2 {
  font-family: Shrikhand;
  font-size: 22px;
}

header img {
  width: 250px;
  display: block;
  margin: 0 auto;
}

h3 {
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  font-weight: normal;
}

h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  bottom: -10px;
  border-bottom: 4px solid #99E2D0;
}

h4, p {
  margin: 0;
}

h4 {
  width: 100%;
}

section {
  min-height: 1100px;
  background-color: rgb(247, 245, 245);
}

.image_restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100vw;
}

.contenu_carte {
  min-height: 1000px;
  width: 100vw;
  background-color: rgb(247, 245, 245);
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -60px;
  padding-bottom: 20px;
}

.titre_restaurant {
  padding-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;
}
.titre_restaurant i {
  font-size: 22px;
}

article {
  min-width: 250px;
  max-width: 350px;
  margin: 0 auto;
  -webkit-animation: appear 2s forwards;
          animation: appear 2s forwards;
  opacity: 0;
}

article:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

article:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

article:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

article:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  background-color: #fff;
  height: 60px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  box-shadow: 5px 1px 20px 1px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  border-radius: 15px;
}
.menu:hover .menu_animation {
  width: 100%;
  opacity: 1;
  transition: all 0.8s ease-in-out;
}
.menu:hover i {
  -webkit-animation: turn 0.8s forwards;
          animation: turn 0.8s forwards;
}
.menu_content {
  background-color: #fff;
  width: 100%;
  min-width: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 20px;
  padding-left: 10px;
}
.menu_content_name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_content_name h4, .menu_content_name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_animation {
  width: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.menu_animation i {
  color: #fff;
}

#price {
  margin-right: 20px;
}

@-webkit-keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .card_restaurant {
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) {
  .contenu_carte, section, .contenair_menu {
    min-height: 300px;
  }

  .container_menu {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  .titre_restaurant {
    justify-content: space-around;
  }

  article {
    width: 30%;
    margin: 0;
  }

  h2 {
    width: 100%;
  }

  nav ul {
    display: flex;
    gap: 60px;
  }
  nav ul li {
    flex-direction: row;
    padding: 25px 40px 25px 0px;
  }

  .numero_menu {
    left: -20px;
  }

  .choix_restaurant {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card_restaurant {
    width: 430px;
  }

  .container_cartes {
    max-width: 1024px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style_menus.css.map */