

//version mobile
@mixin mobile($_mobile_min-width){
    @media screen and (max-width:$_mobile_min-width){
        nav li{
            width: 260px;
        }
        
    }
}

//version tablette
@mixin tablet($_tablet_min-width){
    @media screen and (min-width:$_tablet_min-width) {
        
        .card_restaurant{
            width:70vw;
        }
        
        
    }
}

//version ordi
@mixin desktop($_desktop_min-width){
    @media screen and (min-width:$_desktop_min-width){
        .contenu_carte, section, .contenair_menu{
            min-height:300px;
        }
        .container_menu {
            display:flex;
            justify-content: space-evenly;
            gap:20px;
        }
        .titre_restaurant{
            justify-content: space-around;
        }
        article{
            width:30%;
            margin: 0;
        }
        h2{
            width:100%;
        }
        nav ul {
            display:flex;
            gap:60px;
            & li{
                flex-direction: row;
                padding: 25px 40px 25px 0px;
            }
        }
        .numero_menu{
            left:-20px;
        }

        .choix_restaurant{
            display:flex;
            flex-wrap: wrap;
            gap:20px;
            justify-content: center;
        }
        .card_restaurant{
            width:430px;
        }
        .container_cartes{
            max-width: 950px;
            margin:0 auto;
        }
        footer {
            & img {
                width:100%;
            }
            & ul{
            display:flex;
            justify-content: center;
            gap:20px;
            }
        }
    }
}


