//-- polices et mises en page--//

body{
    background: #fff;
    margin:0;
    padding:0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
h1{
    font-size:24px;
}
h2{
    font-size: 22px;
    margin-left:30px;
    // padding-left: 10px;
    
}
.titre_restaurant h2 {
    font-family: Shrikhand;
    font-size: 22px;
}

header img{
    width:250px;
    display:block;
    margin: 0 auto;
    
}

h3{
    position:relative;
    margin-bottom:30px;
    margin-left: 10px;
    font-weight: normal;
}
h3:after{
    content: "";
	display: block;
	position: absolute;
	width: 40px;
	bottom: -10px;
	border-bottom: 4px solid $color-tertiary;
}
h4,p{
    margin:0;
}
h4{
    width:100%;
}
.card_content{
    font-size: 16px;
}
.title_restaurant{
    font-weight:bold;
}
